<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="leon.qujing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="40" />
        <meta-data
            android:name="xposeddescription"
            android:value="连接两个世界(PC和Android)的通道" />
    </application>
</manifest>
